<!DOCTYPE html>

<html lang="en" class="no-js">
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>Metronic "Asentus" Frontend Freebie</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        <!-- GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
        <!-- PAGE LEVEL PLUGIN STYLES -->
        <link href="/css/animate.css" rel="stylesheet">

        <!-- THEME STYLES -->
        <link href="/css/layout.min.css" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <!-- END HEAD -->

    <!-- BODY -->
    <body>

        <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                            <a class="logo-wrap" href="index.html">
                                <img class="logo-img logo-img-main" src="/img/logo.png" alt="Asentus Logo">
                                <img class="logo-img logo-img-active" src="/img/logo.png" alt="Asentus Logo">
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="navbar-nav navbar-nav-right">
                              <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="/me/home">Home</a></li>
                              <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="/me/addproduct">Add Product</a></li>
                              <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/me/faq">FAQ</a></li>
                              <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/me/about">About</a></li>
                              <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/me/contact">Contact Us</a></li>
                              <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/me/auction">Auctions</a></li>
                              <li class="nav-item"><a class="nav-item-child nav-item-hover" data-toggle="modal" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->
<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="/img/ham.jpg">
    <div class="parallax-content container">
        <h1 class="carousel-title" style="color: #14c3c9">ADD AUCTION ITEM</h1>
        <h3>Kindly give details of your product.</h3>
        <form action="/me/addproduct" method="post">

                <div class="form-group"> <!-- Full Name -->
                    <label for="full_name_id" class="control-label" style="color: white;">Product</label>
                    <select class="form-control" id="state_idz" name="auction_type">
                            <option value="1">Food Grain</option>
                            <option value="2">Fruits</option>
                            <option value="3">Vegetables</option>
                            <option value="4">Fertilizers</option>
                            <option value="5">Miscellaneous</option>
                    </select>
                </div>
<script type="text/javascript">


                      $('#state_idz').on('change', function () {
                    if(this.value === "1"){
                    $("#grainz1").show();
                    $("#grainz2").show();
                    $("#grainz3").show();
                    $("#grainz4").show();
                    $("#grainz5").show();
                    $("#fruitz1").hide();
                    $("#fruitz2").hide();
                    $("#fruitz3").hide();
                    $("#fruitz4").hide();
                    $("#vegetablez1").hide();
                    $("#vegetablez2").hide();
                    $("#vegetablez3").hide();
                    $("#fertilizerz1").hide();
                    $("#fertilizerz2").hide();
                    $("#fertilizerz3").hide();
                    $("#miscellaneouz1").hide();
                    $("#miscellaneouz2").hide();

                  } else if (this.value === "2"){
                    $("#grainz1").hide();
                    $("#grainz2").hide();
                    $("#grainz3").hide();
                    $("#grainz4").hide();
                    $("#grainz5").hide();
                    $("#fruitz1").show();
                    $("#fruitz2").show();
                    $("#fruitz3").show();
                    $("#fruitz4").show();
                    $("#vegetablez1").hide();
                    $("#vegetablez2").hide();
                    $("#vegetablez3").hide();
                    $("#fertilizerz1").hide();
                    $("#fertilizerz2").hide();
                    $("#fertilizerz3").hide();
                    $("#miscellaneouz1").hide();
                    $("#miscellaneouz2").hide();

                  }else if (this.value === "3"){
                    $("#grainz1").hide();
                    $("#grainz2").hide();
                    $("#grainz3").hide();
                    $("#grainz4").hide();
                    $("#grainz5").hide();
                    $("#fruitz1").hide();
                    $("#fruitz2").hide();
                    $("#fruitz3").hide();
                    $("#fruitz4").hide();
                    $("#vegetablez1").show();
                    $("#vegetablez2").show();
                    $("#vegetablez3").show();
                    $("#fertilizerz1").hide();
                    $("#fertilizerz2").hide();
                    $("#fertilizerz3").hide();
                    $("#miscellaneouz1").hide();
                    $("#miscellaneouz2").hide();

                  }else if (this.value === "4"){
                    $("#grainz1").hide();
                    $("#grainz2").hide();
                    $("#grainz3").hide();
                    $("#grainz4").hide();
                    $("#grainz5").hide();
                    $("#fruitz1").hide();
                    $("#fruitz2").hide();
                    $("#fruitz3").hide();
                    $("#fruitz4").hide();
                    $("#vegetablez1").hide();
                    $("#vegetablez2").hide();
                    $("#vegetablez3").hide();
                    $("#fertilizerz1").show();
                    $("#fertilizerz2").show();
                    $("#fertilizerz3").show();
                    $("#miscellaneouz1").hide();
                    $("#miscellaneouz2").hide();

                  }else if (this.value === "5"){
                    $("#grainz1").hide();
                    $("#grainz2").hide();
                    $("#grainz3").hide();
                    $("#grainz4").hide();
                    $("#grainz5").hide();
                    $("#fruitz1").hide();
                    $("#fruitz2").hide();
                    $("#fruitz3").hide();
                    $("#fruitz4").hide();
                    $("#vegetablez1").hide();
                    $("#vegetablez2").hide();
                    $("#vegetablez3").hide();
                    $("#fertilizerz1").hide();
                    $("#fertilizerz2").hide();
                    $("#fertilizerz3").hide();
                    $("#miscellaneouz1").show();
                    $("#miscellaneouz2").show();
                  }
                });
</script>

                <div class="form-group" id="grainz1"> <!-- Street 1 -->
                    <label for="street1_id" class="control-label" style="color: white;">Type:</label>
                    <input type="text" class="form-control" id="street1_id" name="auc_caption" placeholder="Enter Type">
                </div>

                <div class="form-group" id="grainz2"> <!-- Street 2 -->
                    <label for="street2_id" class="control-label" style="color: white;">Category:</label>
                    <input type="text" class="form-control" id="street2_id" name="category" placeholder="Eg: Basmati Rice">
                </div>

                <div class="form-group" id="grainz3"> <!-- City-->
                    <label for="city_id" class="control-label"style="color: white;">Condition:</label>
                    <select class="form-control" id="state_id" name="condition">
                        <option value="Full Grain">Full Grain</option>
                        <option value="Broken Grain">Broken Grain</option>
                    </select>
                </div>

                <div class="form-group" id="grainz4"> <!-- State Button -->
                    <label for="state_id" class="control-label" style="color: white;">Grain Shape:</label>
                    <select class="form-control" id="state_id" name="shape">
                        <option value="">Round</option>
                        <option value="">Bold</option>
                        <option value="">Thin</option>
                    </select>
                </div>

                <div class="form-group" id="grainz5">  <!-- Zip Code-->
                    <label for="zip_id" class="control-label" style="color: white;">Quantity:</label>
                    <input type="text" class="form-control" id="zip_id" name="quantity" placeholder="In Kg">
                </div>
                <!--========== FRUITS ==========-->


                <div class="form-group" id="fruitz1"> <!-- Street 1 -->
                    <label for="street1_id" class="control-label" style="color: white;">Type:</label>
                    <input type="text" class="form-control" id="street1_id" name="auc_caption2" placeholder="Enter Fruit">
                </div>

                <div class="form-group" id="fruitz2"> <!-- Street 2 -->
                    <label for="street2_id" class="control-label" style="color: white;">Category:</label>
                    <input type="text" class="form-control" id="street2_id" name="category2" placeholder="Eg: Alphonso Mangoe">
                </div>

                <div class="form-group" id="fruitz3"> <!-- City-->
                    <label for="city_id" class="control-label" style="color: white;">Condition:</label>
                    <select class="form-control" id="state_id" name="condition2">
                        <option value="">Raw</option>
                        <option value="">Ripe</option>
                    </select>
                </div>



                <div class="form-group" id="fruitz4"> <!-- Zip Code-->
                    <label for="zip_id" class="control-label" style="color: white;">Quantity:</label>
                    <input type="text" class="form-control" id="zip_id" name="quantity2" placeholder="In Kg">
                </div>
<!--========== VEGETABLES ==========-->


                <div class="form-group" id="vegetablez1"> <!-- Street 1 -->
                    <label for="street1_id" class="control-label" style="color: white;">Type:</label>
                    <input type="text" class="form-control" id="street1_id" name="auc_caption3" placeholder="Enter Type">
                </div>

                <div class="form-group" id="vegetablez2"> <!-- City-->
                    <label for="city_id" class="control-label" style="color: white;">Condition:</label>
                    <select class="form-control" id="state_id" name="condition3">
                        <option value="">Raw</option>
                        <option value="">Ripe</option>
                    </select>
                </div>

                <div class="form-group" id="vegetablez3"> <!-- Zip Code-->
                    <label for="zip_id" class="control-label" style="color: white;">Quantity:</label>
                    <input type="text" class="form-control" id="zip_id" name="quantity3" placeholder="In Kg">
                </div>
<!--========== FERTILIZERS ==========-->



                <div class="form-group" id="fertilizerz1"> <!-- City-->
                    <label for="city_id" class="control-label" style="color: white;">Condition:</label>
                    <select class="form-control" id="state_id" name="auc_caption4">
                        <option value="">Organic</option>
                        <option value="">Compound</option>
                        <option value="">Potassium</option>
                        <option value="">Nitrogen</option>
                    </select>
                </div>

                <div class="form-group" id="fertilizerz2"> <!-- State Button -->
                    <label for="state_id" class="control-label" style="color: white;">State:</label>
                    <select class="form-control" id="state_id" name="category4">
                        <option value="">Liquid</option>
                        <option value="">Solid</option>
                    </select>
                </div>

                <div class="form-group" id="fertilizerz3"> <!-- Zip Code-->
                    <label for="zip_id" class="control-label" style="color: white;">Quantity:</label>
                    <input type="text" class="form-control" id="zip_id" name="quantity4" placeholder="In Kg">
                </div>
                <!--========== MISC. ==========-->



                <div class="form-group" id="miscellaneouz1"> <!-- State Button -->
                    <label for="state_id" class="control-label" style="color: white;">Type:</label>
                    <select class="form-control" id="state_id" name="auc_caption5">
                            <option value="">Milk</option>
                            <option value="">Cheese</option>
                            <option value="">Butter</option>
                            <option value="">Egg</option>
                    </select>
                </div>

                <div class="form-group" id="miscellaneouz2"> <!-- Zip Code-->
                    <label for="zip_id" class="control-label" style="color: white;">Quantity:</label>
                    <input type="text" class="form-control" id="zip_id" name="quantity5" placeholder="In Kg/Ltr/Units">
                </div>

                <div class="form-group" id="miscellaneouz2"> <!-- Zip Code-->
                    <label for="zip_id" class="control-label" style="color: white;">MSP</label>
                    <input type="text" class="form-control" id="zip_id" name="msp" placeholder="Enter MSP">
                </div>

                <div class="form-group"> <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary btn-lg" >ADD!</button>
                </div>

            </form>
    </div>
</div>
<!--========== PARALLAX ==========-->






        <!--========== FOOTER ==========-->

        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- CORE PLUGINS -->
        <script src="/vendor/jquery.min.js" type="text/javascript"></script>
        <script src="/vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
        <script src="/vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="/vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="/vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="/vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="/vendor/jquery.parallax.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="/js/layout.min.js" type="text/javascript"></script>
        <script src="/js/components/wow.min.js" type="text/javascript"></script>
        <script src="/js/components/gmap.min.js" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U&amp;callback=initMap" async defer></script>

    </body>
    <!-- END BODY -->
</html>
