<!DOCTYPE html>
<html>
<body>
  <!DOCTYPE html>
<html>
<body>
  <form action="applicationWorkBank.html" id="EmploymentApplication100" method="post" onsubmit="return ValidateForm(this);">
  <h1>Personal Details</h1>
  <h2>2.CREDIT CARD*</h2>
  <h3>*For transaction above RS 50,000 Else Next</h3>
  <table border="0" cellpadding="3" cellspacing="0">

  <tr>
  <td><label for="credit_card_no"><b>Credit Card No.</b></label></td>
  <td><input name="credit_card_no" type="text" maxlength="50" style="width: 260px" /></td>
  </tr>
  <tr>
  <td><label for="credit_card_expiry"><b>Cred Card Expiry </b></label></td>
  <td><input name="credit_card_expiry" type="text" maxlength="50" style="width: 260px" /></td>
  </tr>
  <tr>
  <td><label for="card_name"><b>Credit Card Holder</b></label>
  <td><input name="card_name" type="text" maxlength="50" style="width: 260px" />
</tr>
<tr>
<td><label for="cvv"><b>CVV</b></label>
<td><input name="cvv" type="text" maxlength="50" style="width: 260px" />
</tr>

</table>
  <style>
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #4CAF50;
    color: white;
}
.next:hover {
    background-color: #ddd;
    color: black;
}
.next {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;

}

.round {
    border-radius: 50%;
}
</style>


<br>
<br>
<br>

<a href="/me/personal" class="previous">&laquo; Previous</a>
<a href="/me/home" class="previous">&laquo; Next</a>


  </form>
</body>
</html>
