<!DOCTYPE html>

<html lang="en" class="no-js">
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>Metronic "Asentus" Frontend Freebie</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        <!-- GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <!-- PAGE LEVEL PLUGIN STYLES -->
        <link href="/css/animate.css" rel="stylesheet">

        <!-- THEME STYLES -->
        <link href="/css/layout.min.css" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <!-- END HEAD -->

    <!-- BODY -->
    <body>

        <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                            <a class="logo-wrap" href="index.html">
                                <img class="logo-img logo-img-main" src="/img/logo.png" alt="Logo">
                                <img class="logo-img logo-img-active" src="/img/logo.png" alt="Logo">
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="navbar-nav navbar-nav-right">
                              <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="/me/home">Home</a></li>
                              <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="/me/addproduct">Add Product</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/me/faq">FAQ</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/me/about">About</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/me/contact">Contact Us</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" href="/me/auction">Auctions</a></li>
                                <li class="nav-item"><a class="nav-item-child nav-item-hover" data-toggle="modal" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->
<!--========== PARALLAX ==========-->
<div class="parallax-window" data-parallax="scroll" data-image-src="/img/back.jpg">
    <div class="parallax-content container">
        <h1 class="carousel-title" style="color: #14c3c9">Personal Details</h1>
        <h3 style="color: white;">Kindly give your details.</h3>
        <form>
                <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputfirstname" style="color: white;">First Name</label>
                          <input type="text" class="form-control" id="inputEmail4" name="firstname" placeholder="First Name">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputlastname" style="color: white;">Last Name</label>
                          <input type="text" class="form-control" id="inputPassword4" name="lastname" placeholder="Last Name">
                        </div>
                      </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4" style="color: white;">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4" style="color: white;">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress" style="color: white;">Address</label>
                  <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                  <label for="inputAddress2" style="color: white;">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" name="address2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity" style="color: white;">City</label>
                    <input type="text" class="form-control" id="inputCity" name="city">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState" style="color: white;">State</label>
                    <input type="text" class="form-control" id="inputState" name="state">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip" style="color: white;">Zip</label>
                    <input type="text" class="form-control" id="inputZip" name="zip">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">

                    </label>
                  </div>
                </div>

                <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputcardname" style="color: white;">Name On Card</label>
                          <input type="text" class="form-control" id="inputcardname" name="cardname" placeholder="Card Holder's Name">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputcardnumber" style="color: white;">Card Number</label>
                          <input type="text" class="form-control" id="inputcardnumber" name="cardnumber" placeholder="Debit/Credit Card Number">
                        </div>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="expirydate" style="color: white;">Expiraty Year</label>
                          <select class="form-control col-sm-3" name="expiry-month" id="expiry-month">
                                <option>Month</option>
                                <option value="01">Jan (01)</option>
                                <option value="02">Feb (02)</option>
                                <option value="03">Mar (03)</option>
                                <option value="04">Apr (04)</option>
                                <option value="05">May (05)</option>
                                <option value="06">June (06)</option>
                                <option value="07">July (07)</option>
                                <option value="08">Aug (08)</option>
                                <option value="09">Sep (09)</option>
                                <option value="10">Oct (10)</option>
                                <option value="11">Nov (11)</option>
                                <option value="12">Dec (12)</option>
                              </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="inputcardnumber" style="color: white;">Expiry Year</label>
                          <select class="form-control" name="expiry-year">
                                <option value="18">2018</option>
                                <option value="19">2019</option>
                                <option value="20">2020</option>
                                <option value="21">2021</option>
                                <option value="22">2022</option>
                                <option value="23">2023</option>
                                <option value="13">2024</option>
                                <option value="14">2025</option>
                                <option value="15">2026</option>
                                <option value="16">2027</option>
                                <option value="17">2028</option>
                              </select>
                        </div>
                        <div class="form-group col-md-5">
                                <label for="inputcardcvv" style="color: white;">Card CVV</label>
                                <input type="text" class="form-control" id="inputcardname" name="cardcvv" placeholder="Security Code">
                              </div>
                </div>

                <button type="button" class="btn btn-success btn-lg">Submit</button>
              </form>
    </div>
</div>
<!--========== PARALLAX ==========-->






        <!--========== FOOTER ==========-->

        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- CORE PLUGINS -->
        <script src="/vendor/jquery.min.js" type="text/javascript"></script>
        <script src="/vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
        <script src="/vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="/vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="/vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="/vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="/vendor/jquery.parallax.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="/js/layout.min.js" type="text/javascript"></script>
        <script src="/js/components/wow.min.js" type="text/javascript"></script>
        <script src="/js/components/gmap.min.js" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U&amp;callback=initMap" async defer></script>

    </body>
    <!-- END BODY -->
</html>
